<h1>Change Password</h1>
<fieldset>
    <div class="messages"></div>
    <label>
        Current Password
        <input type="password" name="old_password" required>
    </label>
    <hr>
    <label>
        New Password
        <input type="password" name="new_password" required>
    </label>
    <label>
        Confirm New Password
        <input type="password" id="new_password_confirm" required>
    </label>
</fieldset>
<button type="button" class="small primary confirm button right" data-analytic="/api/track/password/update/confirm">Change Password</button>
<button type="button" class="small cancel button right">Cancel</button>