<h1>Support</h1>
<div class="modal-content">
    <p>
        Before submitting a support request, please review our <a href="/api/faq" data-bypass target="_blank">frequently asked questions</a>.
    </p>
    <div class="messages"></div>
    <fieldset>
        <label>
            Subject
            <input type="text" name="subject">
        </label>
        <label>
            Description
            <textarea name="description" rows="5"></textarea>
        </label>
    </fieldset>
    <button type="button" class="small primary send button right">Send</button>
</div>